#lounger {
    display: flex;
    align-items: center;
}
#lounger div {
    width: 30%;
    padding-left: 5%;
    padding-bottom: 10%;
}
#lounger .voyager {
    background: url(../img/section-voyager.jpg) center/cover no-repeat;
    width:55%;
    height: 85vh;
}
h1{
    color: rgb(234, 204, 194);
    font-weight: normal;
    font-size: 2.3em;
    margin-top: 40%;
    padding-bottom: 25%;
}

p{
    color: rgb(115, 115, 115);
    line-height: 2em;
    font-size: 0.9em;
    font-weight: 500;
}