@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* 
font-family: 'Work Sans', sans-serif; 
Farben: #2e2e2e / #867772 / rgb(234, 204, 194) / #ebccc2 / #fff / rgb(115, 115, 115)
*/

*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    /* default font size */
    font-size: 16px;
    font-family: 'Work Sans', sans-serif;
    background-color: #2e2e2e;
}

/* --------------- NAVIGATION TOP -------------------------- */
#navigationTop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex; 
    padding: 2% 0 0 4%;
    
}

#navigationTop ul {
    display: flex;
    align-items: center;
    list-style: none;
    width: 100%;
}

#navigationTop ul {
    justify-self: end;
    justify-content: flex-end;
    align-items: center;
}

#navigationTop a{
    text-decoration: none;
    color: #867772;
    transition: 0.3s;
}

#navigationTop li {
    margin: 0 1%;
}
#navigationTop li:first-of-type,
#navigationTop li:last-of-type {
    margin: 0 4%;
}

#navigationTop a:hover {
    color: #ebccc2;
    transition: 0.5s;
    text-decoration: underline;
}


/* --------------- NAVIGATION LEFT -------------------------- */
#navigationLeft {
    position: fixed;
    height: 100vh;
    top: 0;
    left: 2%;
    display: flex;
    align-items: center;
}

#navigationLeft ul {
list-style: none;
}

#navigationLeft a{
    color: rgb(115, 115, 115);
    text-decoration: none;
    padding-left: 24px;
    transition: 0.3s;
    font-weight: 500;
    font-size: 1em;
}

#navigationLeft span {
    font-size: 0.8em;
    color: #867772;
}

#navigationLeft a:hover {
    color: white;
    transition: 0.5s;
}

#navigationLeft .line{
    background-color: #867772;
    height: 50px;
    margin-top: 3%;
    margin-right: 94.90%;
    margin-bottom: 5%;
    margin-left: 5%;
    

} 

#navigationLeft .outerCircle {
    width: 17px;
    height: 20px;
    border: 1.5px solid #ebccc2;
    border-radius: 50%;
    padding-left: 3px;
    padding-bottom: 1px;
}
